<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="hipAddress" value="ipAddress" />
    <add key="hipPort" value="port" />
    <add key="hipUser" value="user" />
    <add key="hipPwd" value="password" />
    <add key="timeout" value="timeout" />
  </appSettings>
</configuration>